:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(156, 86, 221);
  padding: 16px 32px;
}

nav a {
  margin-right: 16px;
  color: aliceblue;
  text-decoration: none;
}
nav a.active {
  font-weight: 700;
}

footer {
  background-color: rgb(156, 86, 221);
  padding: 16px 32px;
  color: aliceblue;
}

/* book page */

.searching {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

h1 {
  margin-bottom: 1rem;
}

input {
  padding: 0.3rem;
  font-size: 15px;
  font-weight: 500;
}

.displaying {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}
/* book item */

.book-item {
  margin: 0.6rem;
  padding: 1rem;
  border: 1px black solid;
  border-radius: 0.3rem;
  width: 500px;
}
.book-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}
.book-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-top: 6px;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: 1px;
}
h4 {
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  color: rgb(68, 68, 68);
  margin-bottom: 1px;
}
h5 {
  font-size: 16px;
  font-weight: 500;
  color: rgb(55, 53, 53);
}
h5:hover {
  color: rgb(30, 23, 23);
  font-weight: 700;
  cursor: pointer;
}
.genre {
  font-weight: 300;
}
h6 {
  font-size: 13px;
  font-weight: 400;
  padding-bottom: 2px;
}
p {
  font-size: 14px;
  font-weight: 400;
}
button {
  margin: 2px;
  padding: 2px 8px;
  color: black;
  background-color: white;
  border: 1px solid black;
}
button:hover {
  background-color: gainsboro;
}
